.card{
    width: 324px;
    margin-top: 92px; 
    @media screen and (max-width: 1280px){
        width: 274px;
    }
    @media screen and (max-width: 560px){
        margin-top: 0px;
    }
}

.card__header{
    min-height: 70px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    @media screen and (max-width: 1280px){
        margin-bottom: 16px;
    }
}

.card__main{
    margin: auto;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    /* line-height: 78px; */
    color: #FF6161;
}

.card__main_red{
    color: #FF6161;
}

.card__main_yellow{
    color: #F7B91A;
}


.card__main_blue{
    color: #2A91CB;
}

.card__main_green{
    color: #68CD38;
}

.card__code{
    height: 87%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;    
}

.card__text{
    width: 90%;
    height: 100%;
    margin: 30px 0 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    @media screen and (max-width: 1280px){
        font-size: 14px;
    }
    @media screen and (max-width: 560px){
        padding-bottom: 26px;
    }
}

.card__text_blue{
    color: #2300F9;
}

.card__text_bard{
    color: #B4002B;
}

.card__text_red{
    color: #FF0000;
}

.card__text_black{
    color: #000000;
}

.card__text_green{
    color: #1DD000;
}

.card__text_br{
    display: block;
}

.card__text_space{
    margin-left: 20px;
}


.card__button{
    bottom: 23px;
    position: relative;
    width: 200px;
    height: 57px;
    background: #1DD000;
    border: 0;
    border-radius: 40px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    /* text-align: center; */
    letter-spacing: 0.06em;
    color: #FFFFFF;
    transition: background 0.3s ease-in-out;   
    &:hover{
        background: #36A900;
    }
}